<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>category</key>
		<string>生活/天气/健康</string>
		<key>desc</key>
		<string>。。。。</string>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>常用快递</string>
				<key>imageName</key>
				<string>image_6</string>
				<key>vcName</key>
				<string>NewsTableViewController</string>
			</dict>
			<dict>
				<key>name</key>
				<string>IP地址</string>
				<key>imageName</key>
				<string>image_6</string>
				<key>vcName</key>
				<string>NewsTableViewController</string>
			</dict>
			<dict>
				<key>name</key>
				<string>手机号码归属地</string>
				<key>imageName</key>
				<string>image_1</string>
				<key>vcName</key>
				<string>NewsTableViewController</string>
			</dict>
			<dict>
				<key>name</key>
				<string>常用快递</string>
				<key>imageName</key>
				<string>image_6</string>
				<key>vcName</key>
				<string>NewsTableViewController</string>
			</dict>
			<dict>
				<key>name</key>
				<string>IP地址</string>
				<key>imageName</key>
				<string>image_6</string>
				<key>vcName</key>
				<string>NewsTableViewController</string>
			</dict>
			<dict>
				<key>name</key>
				<string>手机号码归属地</string>
				<key>imageName</key>
				<string>image_1</string>
				<key>vcName</key>
				<string>NewsTableViewController</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>生活助手vhijlughuojih</string>
		<key>category</key>
		<string>车辆/出行</string>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>全国车辆违章</string>
				<key>imageName</key>
				<string>image_2</string>
				<key>vcName</key>
				<string>NewsTableViewController</string>
			</dict>
			<dict>
				<key>name</key>
				<string>火车订票</string>
				<key>imageName</key>
				<string>image_2</string>
				<key>vcName</key>
				<string>NewsTableViewController</string>
			</dict>
			<dict>
				<key>name</key>
				<string>航班动态</string>
				<key>imageName</key>
				<string>image_2</string>
				<key>vcName</key>
				<string>NewsTableViewController</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>生活助手vhijlughuojih</string>
		<key>category</key>
		<string>验证服务</string>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>手机号码归属地</string>
				<key>imageName</key>
				<string>image_1</string>
				<key>vcName</key>
				<string>NewsTableViewController</string>
			</dict>
			<dict>
				<key>name</key>
				<string>股票数据</string>
				<key>imageName</key>
				<string>image_3</string>
				<key>vcName</key>
				<string>NewsTableViewController</string>
			</dict>
			<dict>
				<key>name</key>
				<string>汇率</string>
				<key>imageName</key>
				<string>image_3</string>
				<key>vcName</key>
				<string>NewsTableViewController</string>
			</dict>
			<dict>
				<key>name</key>
				<string>手机号码归属地</string>
				<key>imageName</key>
				<string>image_1</string>
				<key>vcName</key>
				<string>NewsTableViewController</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>生活助手vhijlughuojih</string>
		<key>category</key>
		<string>开发工具</string>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>百度权重</string>
				<key>imageName</key>
				<string>image_4</string>
				<key>vcName</key>
				<string>NewsTableViewController</string>
			</dict>
			<dict>
				<key>name</key>
				<string>证件识别</string>
				<key>imageName</key>
				<string>image_4</string>
				<key>vcName</key>
				<string>NewsTableViewController</string>
			</dict>
			<dict>
				<key>name</key>
				<string>网站安全检测</string>
				<key>imageName</key>
				<string>image_4</string>
				<key>vcName</key>
				<string>NewsTableViewController</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>desc</key>
		<string>生活助手vhijlughuojih</string>
		<key>category</key>
		<string>娱乐/体育/问答</string>
		<key>data</key>
		<array>
			<dict>
				<key>name</key>
				<string>星座运势</string>
				<key>imageName</key>
				<string>image_5</string>
				<key>vcName</key>
				<string>NewsTableViewController</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NBA赛事</string>
				<key>imageName</key>
				<string>image_5</string>
				<key>vcName</key>
				<string>NewsTableViewController</string>
			</dict>
			<dict>
				<key>name</key>
				<string>老黄历</string>
				<key>imageName</key>
				<string>image_5</string>
				<key>vcName</key>
				<string>NewsTableViewController</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
